*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 8rem;
    color: #333;
    font-family: sans-serif;
}

.start{
    padding: 10px 25px;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: crimson;
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.start:hover{
    background-color: black;
    color: red;
    box-shadow: 0 0 15px crimson, 0 0 15px crimson;
    transition: all 0.6s ease;
}