*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color : white;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
}

.cursor{
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    mix-blend-mode: difference;
    border-radius: 50%;
    position: absolute;
    transition: all linear 0.2s;
}

h1{
    font-size: 9vw;
    font-weight: 900;
}