* {
    left: 0;
    top: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    height: 80vh;
    width: 70vw;
}

.wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sliders{
    display: flex;
    flex-direction: column;
    width: 70%;
}

#box {
    background: aqua;
    max-width: 100%;
    height: 15rem;
    box-shadow: 5px 10px 10px 2px white;
    margin-bottom: 10%;
    border-radius: 10px;
}

#css-code {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    border: 2px solid aqua;
    margin-top: 20px;
}

#shadowcolor {
    width: 20%;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
}

#copy {
    background: aqua;
    border-radius: 10px;
    border: none;
    border: 1px solid black;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s ease;
}

#copy:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 10px aqua;
    color: #fff;
    border: none;
}

label{
    color: white;
    display: flex;
    justify-content: space-between;
}