*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(shreeji.jpg) no-repeat center;
    background-size: cover;
    clip-path: circle(150px at var(--1) var(--2));
}