*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --main-color: red;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.gray-heart {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
}

.gray-heart::before,
.gray-heart::after {
    content: "";
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
}
.gray-heart::before{
    top : -50px;
    left: 0;
}
.gray-heart::after{
    left: 50px;
    top: 0;
}

.red-heart{
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: rotate(-45deg);
}

.red-heart::before,.red-heart::after{
    content:"";
    background-color: var(--main-color);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
}

.red-heart::before{
    top: -50px;
    left: 0;
}

.red-heart::after{
    left: 50px;
    top: 0;
}

.red-heart.animation{
    animation: pop 0.5s linear;
}
.heart.fill-color{
    background: var(--main-color);
}
@keyframes pop {
    100%{
        transform: scale(1.7) rotate(-45deg);
        opacity: 0;
    }
}