:root{
    --a:0;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 5px;
}

.right {
    width: 75vw;
}

.spotify-logo {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    gap: 3px;
}

.home ul li {
    display: flex;
    width: 16px;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    font-style: bold;
}

.bg-black {
    background-color: black;
    color: white;
}

.spotify-logo img {
    width: 25px;
}

.heading {
    display: flex;
    width: 100%;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    font-style: bold;
    font-size: 12px;
    padding: 20px 2px;
}

.heading img {
    width: 20px;
}

.library {
    min-height: 75vh;
    position: relative;

}

.footer a {
    color: gray;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.right {
    margin: 10px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    border-radius: 7px;
    height: 10vh;
}

.header>* {
    padding: 20px;
}

.spotifyPlaylist {
    padding: 15px;
}

.spotifyPlaylist h1 {
    padding: 15px;
}

.cardContainer {
    display: flex;
    margin: 30px;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
    /* justify-content: center; */
}

.spotifyPlaylist .card {
    width: 200px;
    padding: 10px;
    background-color: #252526;
    border-radius: 7px;
    position: relative;
    transition: all 0.9s;
}

.card:hover{
    background-color: rgb(105, 105, 105);
    cursor: pointer;
    --a : 1;
}

.card>* {
    padding-top: 10px;
}

.spotifyPlaylist .card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 40px;
    height: 40px;
    background-color: #1fdf64;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 165px;
    right: 15px;
    opacity: var(--a);
    padding-top: 0;
    transition: all 1s ease-out;

}

.button {
    display: flex;
    align-items: center;
    gap: 14px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(195, 191, 191);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-family: sans-serif;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.signinbtn {
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 21px;
    width: 79px;
    padding: 10px;
    cursor: pointer;
    font-family: sans-serif;
}

.signinbtn:hover {
    background-color: white;
    font-size: 16px;
    height: 40px;
    padding: 0 10px;
}

.hamburger {
    display: none;
}

.nav svg {
    cursor: pointer;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.playbar {
    position: fixed;
    bottom: 35px;
    filter: invert(0);
    right: 30px;
    min-height: 30px;
    width: 70vw;
    background-color: rgb(35, 35, 36);
    padding: 12px 0;
    border-radius: 7px;
    height: 40px;
}

.songbutton {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.library-child {
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 60vh;
}

.songlist ul {
    padding: 0 12px;
}

.songlist ul li {
    display: flex;
    list-style-type: none;
    font-size: 12px;
    gap: 12px;
    cursor: pointer;
    padding: 10px 0;
    border: 1px solid white;
    padding: 10px;
    margin: 10px 0;
    border-radius: 7px;
    width: 300px;
    justify-content: space-between;
}

.songlist .info {
    font-size: 12px;
    width: 350px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    width: 64px;
}

.playbar .seekbar {
    height: 2px;
    width: 99.6%;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
    background-color: black;
    cursor: pointer;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 23px;
    background-color: white;
    position: relative;
    bottom: 7px;
    left: 0%;
    /* transition: left 0.5s; */
}

.songbutton img {
    cursor: pointer;
}

.songtime {
    padding: 0 15px;
    width: 125px;
}

.songinfo {
    padding: 0 15px;
    width: 250px;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.abovebar {
    display: flex;
    justify-content: space-between;

}

.cross {
    position: absolute;
    left: 340px;
    top: 15px;
    display: none;
}

.info div {
    word-break: break-all;
}

.volume {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}

@media (max-width : 1200px) {
    .left {
        background-color: black;
        position: absolute;
        z-index: 1;
        left: -120%;
        transition: all 1.3s;
        width: 375px;
        padding: 0;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .playbar {
        width: 88vw;
        height: 110px;
    }

    .seekbar {
        width: 85%;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .cross {
        display: block;
    }

    .songbutton img {
        width: 20px;
        gap: 10px;
    }

    .abovebar {
        flex-direction: column;
        gap: 15px;
        /* justify-content: space-between; */
        align-items: center;
    }

    .songinfo,
    .songtime {
        font-size: 12px;
        width: auto;
    }

    .cardContainer .card{
        width: 44vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .songinfo {
        word-break: break-all;
    }
    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 5PX;

    }
   
}
@media (max-width : 400px) {
    .cardContainer .card{
        width: 80vw;

    }
}