.border{
    border: 2px solid red;
}
.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.invert{
    filter: invert(1);
}
.bg-gray{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

/* Webkit Browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2b2b2b; /* Dark grey background for the track */
    border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #555; /* Medium grey background for the thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #2b2b2b; /* Matching the track background */
}

