*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
}

#center{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    /* background-color: red; */
}

#center h1{
    color: white;
    font-size: 80px;
    font-weight: bold;
    font-family:cursive;
}

.imagediv{
    position: absolute;
    width: 150px;
    height: 180px;
    /* background-color: yellow; */
    overflow: hidden;
}

.imagediv img{
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}