*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.panel-container{
    background-color: rgb(17, 14, 14);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    font-size: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 700px;
    color: white;
}

.rating-container{
    display: flex;
    margin: 20px 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-top: 20px;
    width: 500px;
}

.rating{
    flex: 1;
    padding: 20px;
    margin: 10px 5px ;
    cursor: pointer;
}

.rating:hover, .rating.active{
    border-radius: 4px;
    background-color: #352f2f;
    transition: 0.5s ease;
}

.rating .icon{
    width: 40px;
    font-size: 5rem;
    margin-right: 10px;
}

.rating small{
    color: white;
    display: inline-block;
    margin: 10px 0 0;
}

.btn{
    background-color: #fff;
    color: black;
    border-radius: 4px;
    padding: 12px 25px;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}

.heart{
    font-size: 3rem;
    margin-bottom: 10px;
}