*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    height: 400px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: white;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#container i{
    color: rgb(223, 49, 49);
    font-size: 80px;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform ease 0.5s;
}