* {
  box-sizing: border-box;
}

body {
  background-color: rgb(14, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.empty {
  height: 100px;
  width: 100px;
  margin: 10px;
  border: 3px solid white;
  background: white;
}

.fill {
  /* background-image: url("http://source.unsplash.com/random/200x200"); */
  background-image: url("natali-hordiiuk-DTYJck7Amm8-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 95px;
  width: 95px;
  cursor: pointer;
}

/* JavaScript */
.hovered {
  background-color: green;
  border: 3px dashed white;
}

@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}