*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

.main{
    background-color:#0f0d0d;
}

.page1{
    height: 100%;
    width: 100%;
    background-color: red;
}