*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 14, 31);
}

body .mainform{
    position: relative;
    width: 380px;
    padding: 25px;
    background-color: rgb(43, 10, 94);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

body .mainform input{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background : none;
    outline: none;
    border: none;
    padding: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

body .mainform input::placeholder{
    color: rgb(200, 200, 200);
    font-size: 16px;
    font-weight: 500;
}

.text{
    font-family:monospace;
    margin-bottom: 20px;
    color: rgb(14, 222, 160);
    font-size: 34px;
    font-weight: 500;
}

form.invalid::before{
    content: "";
    position: absolute;
    right: 14px;
    background : url(invalid.png) no-repeat center;
    background-size: cover;
    width: 22px;
    height: 22px;
    object-fit: cover;
    transition: all 0.3s ease;
}

form.valid::before{
    content: "";
    position: absolute;
    right: 14px;
    background : url(valid.png) no-repeat center;
    background-size: cover;
    width: 22px;
    height: 22px;
    object-fit: cover;
    transition: all 0.3s ease;
}