*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary-color);
}

main{
    width: 100%;
}

main section{
    width: 100%;
    padding: var(--padding-2xl);
}

.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-accent-color);
}

main section .top{
    display: flex;
    gap: var(--gutter-lg);
    align-items: center;
}

main section .left{
    display: flex;
    flex-direction: column;
    gap: var(--gutter-lg);
}

#reset-btn{
    background-color: var(--bg-danger-color);
    color: var(--text-primary-color);
}

#download-btn{
    background-color: var(--bg-success-color);
    color: var(--text-primary-color);
}