:root{

    /* bg color */
    --bg-primary: #1e1e1e;
    --bg-secondary-color: #2e2e2e;
    --bg-accent-color: #f1f1f1;
    --bg-danger-color: #ff4d4d;
    --bg-success-color: #4CAF50;

    /* text color */
    --text-primary-color: #ffffff;
    --text-secondary-color: #cbcbcb;
    --text-tertiary-color: #bebebe;
    --text-active-color: #151515;

    /* padding */
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;
    --padding-2xl: 3rem;

    /* gutter */
    --gutter-sm: 0.5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-2xl: 3rem;

    /* font sizes*/
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;

    /* border radius */
    --border-radius-sm: 0.2rem;
    --border-radius-md: 0.25rem;
    --border-radius-lg: 0.3rem;
    --border-radius-xl: 0.4rem;
    --border-radius-2xl: 0.5rem;
}