*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: blueviolet;
}

.emoji-face{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.emoji-face::before{
    content: "";
    top: 180px;
    position: absolute;
    width: 150px;
    height: 70px;
    background-color: crimson;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    transition: 0.5s;
}

.eyes{
    position: relative;
    top: -40px;
    display: flex;
}

.eyes .eye{
    position: relative;
    width: 80px;
    height: 80px;
    display: block;
    background-color: white;
    border-radius: 50%;
    margin: 0 15px;
}

.eyes .eye::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
}