*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background : linear-gradient(135deg, #d60808, #ad8a0a);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 3rem;
    background-color: rgb(5, 0, 31);
    border-radius: 10px;
}
 
.container h2{
    color: white;
    text-shadow: 0 0 60px yellow;
    font-family: sans-serif;
    font-size: 3rem;
    margin-bottom: 40px;
}

.input-container input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    outline: none;
    border-radius: 10px;
}

button{
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    background-color: aqua;
    color: black;
    border: none;
    margin: 10px;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 0 10px aqua;
}

p{
    width: 600px;
    height: 80px;
    font-size: 30px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgba(196, 160, 231, 0.973);
}

.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
.capitalize{
    text-transform: capitalize;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
