* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}


html,
body {
    width: 100%;
    height: 100%;
}

.bounding {
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem {
    transform: translateY(100%);
}

#minicircle {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: white;
}

body {
    background-color: black;
    color: white;
}

#main {
    width: 100%;
}

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

#nav {
    width: 100%;
    padding: 20px 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#heading {
    margin-top: 90px;
}

#heading h1 {
    line-height: 1;
    margin-left: 30px;
    font-family: "General Sans Medium";
    font-size: 8.5vw;
    opacity: 0.6;
    font-weight: 900;
    text-transform: uppercase;
}

#heading #secondh1 {
    margin-left: 200px;
}

.blocktext {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h5 {
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
}

#chhotiheadings {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 50px;
}

#chhotiheadings h5 {
    text-transform: uppercase;
    margin-top: .5vw;
    font-size: 1vw;
    text-align: right;
}

#herofooter {
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#herofooter a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#herofooter .circle {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #888;
    border-radius: 50%;
    cursor: pointer;
}

#iconset {
    display: flex;
    gap: 4px;
}

#second {
    color: #fff;
    padding-right: 10vw;
    padding-top: 200px;
    background-color: black;
    width: 100%;
    height: 140vh;
    margin-left: 20px;
}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding: right;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem h1 {
    text-transform: uppercase;
    font-size: 7.6vw;
    opacity: .7;
}

.elemlast {
    border-bottom: 1px solid #888;
}

.elem img {
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

#about {
    display: flex;
    align-items: center;
    gap: 50px;
    color: #fff;
    padding: 10vw 10vw;
    padding-left: 40vw;
    width: 100%;
    background-color: black;
}

#textabout {
    width: 25rem;
}

#textabout h5 {
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

#textabout p {
    line-height: 1.7;
    margin-bottom: 30px;
}

#about img {
    width: 200px;
}

#textabout a {
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

#subscribe {
    color: white;
    padding: 20px 30px;
    background-color: black;
    padding-bottom: 7vh;
}

#subscribe h5 {
    text-transform: uppercase;
    opacity: .6;
}

#subscribe h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

#footerleft {
    display: flex;
    gap: 20px;
}

#footer {
    color: #fff;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
}

#footerleft {
    display: flex;
    gap: 20px;
}

#footerright {
    display: flex;
    gap: 30px;
}

#footer a {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}