*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.icons a img{
    width: 30px;
    /* filter: saturate(443%), brightness(50%), sepia(200%), hue-rotate(200%); */
    /* filter: invert(1); */
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    padding: 30px;
}

a{
    margin: 5px;
    border-radius: 40px;
    background-color: blue;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s;
}

a:first-child:hover{
    background : rgb(0, 136, 255);
    box-shadow: 0 0 50px rgb(0, 136, 255);
}
a:nth-child(3):hover{
    background : yellow;
    box-shadow: 0 0 50px yellow;
}
a:nth-child(4):hover{
    background : rgb(0, 255, 72);
    box-shadow: 0 0 50px rgb(0, 255, 21);
}
a:nth-child(5):hover{
    background : rgb(0, 179, 255);
    box-shadow: 0 0 50px rgb(0, 179, 255);
}
a:nth-child(2):hover{
    background : linear-gradient(red,blue);
    box-shadow: 0 0 50px rgb(143, 44, 192);
}