*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #65aa85;
}

#panel{
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 10px;
}

#ptop{
    padding: 0 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 100%;
    height: 80px;
    background-color: rgb(41, 107, 41);
    border-radius: 10px 10px 0 0;
}

.elem{
    
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h4{
    font-weight: 600;
}

.box{
    color: rgb(13, 66, 31);
    font-weight: 600;
    font-size: 25px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

#pbtm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: calc(100% - 80px);
    /* background-color: black; */
    border-radius: 0 0 10px 10px;
}

#pbtm h1{
    color: rgb(225, 1, 1);
    font-size: 70px;
    text-shadow: 0 0 15px rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bubble{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    color: white;
    height: 40px;
    background-color: rgb(13, 66, 31);
    border-radius: 50%;
}

.bubble:hover{
    cursor: pointer;
    background-color: rgb(41, 107, 41);
}