*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: linear-gradient(45deg, rgb(253, 13, 253), rgb(71, 178, 207));
}
.card{
    width: 700px ;
    background-color: white;
    padding: 20px;
    margin: 20px;
    font-family: sans-serif;
    line-height: 28px;
    border-radius: 10px;
    transition: 0.5s ease;
}

.card:hover{
    background: linear-gradient(45deg, rgb(253, 13, 253), rgb(71, 178, 207));
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    transition: 0.5s ease;
}

::-webkit-scrollbar{
    background : transparent;
    width: 15px;
    border: 2px dashed white;

}
::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, purple, rgb(27, 4, 141));
    border-radius: 10px;
    /* box-shadow: 0 0 5px rgba(0,0,0,0.5); */
}