body {
    background: #782776;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: auto;
    font-size: 5vh;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#btn {
    margin-top: 20vh;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 50px;
    cursor: pointer;
}

#btn:hover{
    background-color: black;
}

#content {
    margin: auto;
    padding: 4vh;
    font-size: 1.2rem;
    max-width: 700px;
    max-height: 100px;
    font-weight: bold;
}