*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(35deg, rgb(226, 43, 43), rgb(187, 0, 255));
}

#insert{
    background-color: rgb(204, 160, 245);    
    padding: 50px;
    border-radius: 10px;
}

.key{
    border: 2px solid rgb(88, 78, 97);
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: blueviolet;
    display: inline-flex;
    align-content: center;
    padding: 20px;
    flex-direction: column;
    margin: 10px;
    min-width: 150px;
    position: relative;
    border-radius: 10px;
}

.key small{
    position: absolute;
    top : -24px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #555;
    font-size: 14px;
}