body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

body{
    background-color: black;
}

.container {
  width: 70%;
  padding: 10px;
}

.main {
  text-align: center;
  background-color: rgb(191, 169, 245);
  padding: 15px;
  font-size: 2em;
  border: 3px solid white;
  border-radius: 10px;
}

.typingArea {
    background-color: rgb(119, 93, 131);
  width: 100%;
  height: 350px;
  margin-top: 20px;
  border-radius: 10px;
}

.btn {
  padding: 10px 30px;
  outline: none;
  border: none;
  font-size: 2em;
  color: white;
  background-color: rgb(103, 31, 170);
  margin-top: 20px;
  border-radius: 10px;
}

.btn:hover{
    background-color: blueviolet;
}