*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2f2f2;
    flex-direction: column;
}

#emoji{
    font-size: 10rem;
    filter: grayscale(1);
    transition-property: transform, filter;
    transition-duration: 200ms;
    cursor: pointer;
    user-select: none;
}

#emoji:hover{
    transform: scale(1.3);
    filter: grayscale(0);
}

