*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h2{
    font-family: sans-serif;
    font-weight: bold;
    color: orange;
    margin-bottom: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container input{
    padding-left: 5px;
    width: 250px;
    height: 30px;
    color: rgb(187, 184, 184);
    border: none;
    outline: none;
    background-color: #222;
    border-radius: 8px;
}


.output{
    margin-top: 20px;
    color: white;
}